:root {
  --color-primary: #66545e;
  --color-secondary: #a39193;
  --color-tertiary: #aa6f73;
  --color-accent: #eea990;
  --color-light: #f6e0b5;

  font-family: monospace;
  color: var(--color-light);
}

body {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
  background: linear-gradient(var(--color-primary), var(--color-secondary));
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  gap: 1.25rem;
}

.button-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;

  button {
    color: var(--color-light);
    background-color: var(--color-tertiary);
    border: 0.05rem solid;
    padding: 0.375rem;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
}

ol {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  li {
    list-style: upper-roman;
  }
}

#canvas {
  border-width: 0.125rem;
  border-style: solid;
  border-color: var(--color-light);
}
